body{
  background-image: url(https://cdn.instructables.com/FIU/5J1Q/JFUAHO1C/FIU5J1QJFUAHO1C.LARGE.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #bf4040;
}


.container {

    margin-top: 150px;
    margin-left: 400px;
    width:50%;
    padding:20px;
    text-align: center;
}
.puzzle {
    width: 350px;
    height: 350px;
    border: black solid;
    background-color: black;

}

.puzzle--square-empty, .puzzle--square-pair, .puzzle--square-odd {
    width: 79px;
    height: 79px;
    display: inline-block;
    cursor: pointer;
    border: black solid;
    border-radius: 2px;
    margin: 1px;

}

.puzzle--square-pair {
    background-color: #FFFF00;
}

.puzzle--square-odd {
    background-color: #F5F5F5;
}
